<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Index</title>
  </head>
  <body>
    <h1>Indexed Reports:</h1>
    <br />

    <% for(var i=0; i < reports.length; i++) {%>
      <li class="crimes">
        <span><%= reports[i].timestamp %>:</span>
        <span><%= reports[i].source %></span>
      </li>
    <% } %>
  </body>
</html>
